<div class="container">

  <div class="row-fluid">
      <div class="span2">
      	  <ul class="nav nav-list">
      	  	<li><span class="label label-primary">{{current.category}}</span></li>
      	  </ul>
		  <ul class="nav nav-list">
		  	{{#current.categorypages}}
		  		<li><a href="{{url}}">{{title}}</a></li>
		  	{{/current.categorypages}}
		  </ul>
	  </div>

	  <div class="span8">
	  	{{{current.content}}}
	  </div>

  </div>

  <hr>

</div> <!-- /container -->
