<footer>
	<div class="content">
		<p>&copy; Norbert Eder 2013 - Page generated on {{site.time}} by <a href="/projects/gullap/" title="Gullap static website generator">Gullap</a> - Design by <a href="http://scriptogr.am/suprb" title="Andreas Pihlström" target="_blank">Andreas Pihlström</a> with minor adaptions by <a href="http://pixelhe.at" title="Michael Horkavy" target="_blank">Michael Horkavy</a> and <a href="http://norberteder.com" title="Norbert Eder" target="_blank">Norbert Eder</a>
	</div>
</footer>
