<!DOCTYPE html>
<html lang="en">
  {{>header}}

  <body>

    {{>nav}}

    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{current.title}}</h1>
        <p>{{current.date}} by {{current.author}}</p>
      </div>
    </div>

    <div class="container bs-docs-container">

      <ul class="pager">
        <li class="previous"><a href="/news.html" title="DevTyr News">&larr; Back</a></li>
      </ul>
      
      <p>
        {{{current.content}}}
      </p>
      <p>
        {{#current.tags}}
          <span class="label label-default">{{.}}</span> 
        {{/current.tags}}
      </p>

      <hr>

    </div>

    {{>footer}}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-366818-14']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
