<!DOCTYPE html>
<html lang="en">
  {{>header}}

  <body>

    {{>nav}}

    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{current.title}}</h1>
        <p>{{current.description}}</p>
      </div>
    </div>

    <div class="container bs-docs-container">

    <p>
      <ul class="list-group">
      {{#site.posts}}
          
          <li class="list-group-item">
          <a href="{{url}}">
            {{title}}
          </a>
          <span class="badge">{{date}}</span>
          </li>
        
      {{/site.posts}}
      </ul>

      {{^site.posts}}
        No posts available.
      {{/site.posts}}
    </p>
      <hr>

    </div>


    {{>footer}}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
